.form-todo {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  border-radius: 8px;

  &__input,
  &__textarea,
  &__select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  &__label {
    margin: 20px 0 5px;
  }
  &__textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    resize: none;
    background-color: #fff;
    color: #333;
  }
  &__select {
    margin-bottom: 30px;
  }
  &__button {
    border: none;
    background-color: #000;
    color: #fff;
    max-width: 150px;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    margin: 0 auto;
  }
  &__error {
    font-size: 1.2rem;
    color: red;
  }
}
