.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-content {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  &__open {
    border: 0;
    background: none;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__btn {
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }
}
